<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" >BWG Visualization</a>-->
<!--</div>-->
<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data type <span class="caret"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">Relational data</a></li>-->
<!--<li><a href="#">Semantic data</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>-->
<!-- /.container-fluid -->
<!--</nav>-->


<div class="container">

  <div class="row">
    <div class="col-md-8 nopadding thin-border">
      <vis-circles #circles *ngIf="data" [data]="data"></vis-circles>
    </div>
    <div class="sidebar col-md-4 " [style.height]="heightOfSidebar"
         [style.background-color]="data.currentSelectedData ? data.currentSelectedData.color() : 'white'">
      <div *ngIf="!data.currentSelectedData">
        <h3>How to use:</h3>
        <p>Use your <strong>mouse wheel</strong> or two finger gesture to <strong>zoom</strong> into the data.</p>
        <p><strong>Click</strong> on a circle to know more.</p>
        <p><strong>Click and drag</strong> to navigate.</p>
      </div>
      <div *ngIf="data.currentSelectedData">

        <tabset [justified]="true">
          <tab customClass="single-tab">
            <template tabHeading>Informationen</template>
            <h3>{{data.currentSelectedData.name}}</h3>
            <div *ngIf="data.currentSelectedData.information">
              <div *ngFor="let informationChunk of data.currentSelectedData.information">
                <span class="info-title">{{informationChunk.name()}}</span>



                <span [collapse]="informationChunk.isCollapsed" class="info-content" [innerHTML]="informationChunk.contentShort()" (click)="informationChunk.isCollapsed = !informationChunk.isCollapsed"></span>
                <span [collapse]="!informationChunk.isCollapsed" class="info-content" [innerHTML]="informationChunk.content()" (click)="informationChunk.isCollapsed = !informationChunk.isCollapsed"></span>

              </div>
            </div>
          </tab >
          <tab customClass="single-tab" [active]="true">
            <template tabHeading>Filter</template>
            Tab 2 content
          </tab>
        </tabset>


      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 nopadding">
      <ol class="breadcrumb ">
        <li *ngIf="data.currentFocusPath.length > maxLenghtOfBreadcrumbs">...</li>
        <li  [ngClass]="{bold: i == data.currentFocusPath.length -1}"
             *ngFor="let item of last10Focuses(); let i = index">
          <!--<a (click)="focusNode(item,i)"></a>-->
          <span [ngStyle]="{'border-bottom-color': item.data.color()}" class="breadcrub-single">  {{item.data.name}}
          <span class="badge" *ngIf="item.children">{{item.children.length}}
    </span>
          </span>
        </li>

      </ol>
    </div>
  </div>


</div>



