.sidebar {
  margin-top: 1px !important;
  overflow-y:scroll;
  border-bottom: solid;
  border-width: 1px;
  border-right: solid;
  border-right-width: 1px !important;

}



.breadcrub-single {
  border-bottom: solid;
  border-width:3px;
}

.breadcrumb {
margin-bottom: 0px !important;
}

.bold {
  font-weight: bolder;
}

.thin-border {
  border-left: solid;
  border-bottom: solid;
  border-width: 1px;
}


.nomargin {
  margin: 0 !important;
}

.info-title {
  font-size: large;
  font-weight: bold;
}

.info-title-wrapper {
  cursor: pointer;
  margin-top: 15px !important;
  width: 90%;
  border-bottom: solid 1px white;
}

.info-link{
  color: white
}

body {
  /*Always show sidebar so tooltip doesnt activate it*/
  overflow-y: scroll !important;
}


/*TAB STYLING IN STYLES.CSS BECAUSE BOOSTRAP*/
