<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" >BWG Visualization</a>-->
<!--</div>-->
<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data type <span class="caret"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">Relational data</a></li>-->
<!--<li><a href="#">Semantic data</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>-->
<!-- /.container-fluid -->
<!--</nav>-->



  <div class="row">
    <div class="col-md-8 nopadding thin-border">
      <vis-circles #circles *ngIf="data" [data]="data"></vis-circles>
    </div>
    <div class="sidebar col-md-4 " [style.height]="heightOfSidebar"
         [style.background-color]="data.currentSelectedData ? data.currentSelectedData.colorWithAlpha(0.4) : 'white'">
      <div *ngIf="!data.currentSelectedData">
        <h3>How to use:</h3>
        <p>Use your <strong>mouse wheel</strong> or two finger gesture to <strong>zoom</strong> into the data.</p>
        <p><strong>Click</strong> on a circle to know more.</p>
        <p><strong>Click and drag</strong> to navigate.</p>
      </div>
      <div *ngIf="data.currentSelectedData">
        <h3>{{data.currentSelectedData.name}}</h3>
        <tabset  type="pills" [justified]="true">
          <tab customClass="single-tab">
            <template tabHeading>Information</template>

            <div *ngIf="data.currentSelectedData.information" >
              <div *ngFor="let informationChunk of data.currentSelectedData.information" >
                <div class="info-title-wrapper">
                <span class="info-title" (click)="informationChunk.isCollapsed = !informationChunk.isCollapsed">
                  <span class="glyphicon glyphicon-search" [ngClass]="{'glyphicon-chevron-right': !informationChunk.isCollapsed, 'glyphicon-chevron-down': informationChunk.isCollapsed}" aria-hidden="true"></span>
                  {{informationChunk.name()}}
                </span>
              </div>
                <span [collapse]="!informationChunk.isCollapsed" class="info-content"
                      [innerHTML]="informationChunk.content()"
                     ></span>
              </div>
            </div>
          </tab>
          <tab customClass="single-tab" [active]="true"
               [disabled]="!data.currentSelectedData.facettedSearch || !data.currentSelectedData.facettedSearch.filters">

            <template tabHeading>Filter
              <span class="badge" *ngIf="data.currentSelectedData.facettedSearch.activeFilters">Aktiv</span>
            </template>
            <div *ngIf="data.currentSelectedData.facettedSearch" class="border-lr">
              <br>
              <accordion>
                <div *ngFor="let filter of data.currentSelectedData.facettedSearch.filters">
                  <accordion-group [isOpen]="true" *ngIf="filter.isShowing()">
                    <div accordion-heading>
                      {{filter.title}}
                    </div>
                    <!--SIZE FILTER-->
                    <div class="panel-body nopadding" *ngIf="filter.dbName == 'sizeFilter'" (change)="didSelectFilter(filter,$event.target.value)">
                      <form class="form-inline">
                        <div class="form-group">
                          <select id="exampleInputName2" class="form-control" >
                            <option *ngFor="let item of filter.options, let i = index"
                                    [selected]="item.dbName == filter.value"
                                    [value]="i"
                            >{{item.title}}</option>
                          </select>
                          <!--      -->
                        </div>
                      </form>
                    </div>

                    <!-- TYPE FILTER -->
                    <div class="panel-body nopadding" *ngIf="filter.dbName == 'typeFilter' || filter.dbName == 'predicateFilter'">
                      <div class="checkbox" *ngFor="let singleTypeFilter of filter.options, let i = index">
                        <label>
                          <input type="checkbox" [attr.checked]="singleTypeFilter.value ? true : null"
                                 [attr.disabled]="filter.loading ? true : null" (click)="didSelectFilter(filter,i)">
                          {{singleTypeFilter.name}}

                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true" *ngIf="singleTypeFilter.comment" placement="right" container="body" [tooltip]="singleTypeFilter.comment.substring(0,500)"></span>
                          <span class="badge">{{singleTypeFilter.getBadgeValue()}}</span>
                        </label>
                      </div>
                      <alert type="warning" *ngIf="filter.message != ''" dismissible="true">
                        {{filter.message}}
                      </alert>
                    </div>
                    <!--NAME FILTER-->
                    <div class="panel-body nopadding" *ngIf="filter.dbName == 'stringFilter' ">
                      <form class="form-inline">
                        <div class="form-group">

                          <!--[typeahead]="data.currentSelectedData.children"-->
                          <!--typeaheadOptionField="name"-->
                          <input
                                 class="form-control"
                                 id="stringFilterText"
                                 placeholder="Text to filter by"
                                 [ngModelOptions]="{standalone: true}"
                                 [(ngModel)]="filter.value"
                                 [debounce]="500"
                                 (onDebounce)="didSelectFilter(filter,null)">
                          <button type="button" class="btn btn-default" (click)="filter.value = ''; didSelectFilter(filter, null)" [attr.disabled]="filter.loading ? true : null">Reset</button>
                          <alert type="warning" *ngIf="filter.message != ''">
                            {{filter.message}}
                          </alert>
                          <!--      -->
                        </div>
                      </form>
                    </div>
                  </accordion-group>
                  <br>
                </div>
              </accordion>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 nopadding">
      <ol class="breadcrumb ">
        <li *ngIf="data.currentFocusPath.length > maxLenghtOfBreadcrumbs">...</li>
        <li [ngClass]="{bold: i == data.currentFocusPath.length -1}"
            *ngFor="let item of last10Focuses(); let i = index">
          <!--<a (click)="focusNode(item,i)"></a>-->
          <span [ngStyle]="{'border-bottom-color': item.data.color()}" class="breadcrub-single">  {{item.data.name}}
          <span class="badge" *ngIf="item.children">{{item.children.length}}
    </span>
          </span>
        </li>

      </ol>
    </div>
  </div>




