.sidebar {
  margin-top: 1px !important;
  overflow-y:scroll;
  border-bottom: solid;
  border-width: 1px;
  border-right: solid;
  border-right-width: 1px !important;
}

.breadcrub-single {
  border-bottom: solid;
  border-width:3px;
}

.bold {
  font-weight: bolder;
}

.thin-border {
  border-left: solid;
  border-bottom: solid;
  border-width: 1px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.info-title {
  font-size: large;
  font-weight: bold;
}

.info-link{
  color: white
}

body {
  /*Always show sidebar so tooltip doesnt activate it*/
  overflow-y: scroll !important;
}

/*TAB STYLING IN STYLES.CSS BECAUSE BOOSTRAP*/
